// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #DC5B47; // #477DDC, #47DC5B
$heading-background-color: rgba(0, 0, 0, 0.65);
$title-color: rgba(255, 255, 255, 0.85);
$sub-title-color: rgba(255, 255, 255, 0.75);
$tick-color: rgba(255, 255, 255, 0.8);


// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget.widget-metric {

  //background-color: $background-color;
  position: relative;
  padding: 0;
  vertical-align: top;

  svg {
    position: absolute;
    opacity: 0.8;
    fill-opacity: 0.8;
    left: 0px;
    top: 0px;
  }
  
  .heading {
    position: relative;
    z-index: 99;
    text-align: left;
    color: $title-color;
    background: $heading-background-color;
    padding: .5em;
    
    .heading-right {
      display: block;
      float: right;
      text-align: right;
      width: 35%;
    
      .heading-value {
        font-weight: bold;
        font-size: 2em;
      }
    }
    
    .heading-title {
      font-weight: bold;
    }
    
    .heading-range {
      font-size: .85em;
      color: $sub-title-color;
    }
  }
  
  .y_ticks text,
  .x_ticks_d3 text {
    font-size: .75em;
    stroke: $tick-color;
    fill: $tick-color;
    stroke-opacity: 0.8;
    fill-opacity: 0.8;
  }
  
  .detail .x_label {
    display: none;
  }
  
  .detail .item {
    line-height: 1.25em;
    padding: 0.5em;
    text-align: left;
  }
}
