<% content_for(:title) { "Email and Marketing | MinnPost dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mailchimp_newsletter_list_by_month" data-view="Metric" data-title="Newsletter Subscribers / Month"></div>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="mailchimp_donors_list_by_month" data-view="Metric" data-title="Member Donors / Month"></div>
    </li>
  <ul>
</div>

