<% content_for(:title) { "MinnPost dashboard" } %>
<div class="gridster">
  <ul>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="fb_link_stats_total_count" data-view="Metric" data-title="FB Links"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="google_analytics_page_views_per_visit" data-view="Metric" data-title="Pageviews / Visit"></div>
    </li>
    
    <!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fblinkstat" data-view="Metric" data-unordered="true" data-title="FB link stats" data-moreinfo="for minnpost.com links"></div>
      <i class="icon-facebook icon-background"></i>
    </li>
    -->
    

  </ul>
  
  <!--
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
  -->
</div>

