<% content_for(:title) { "Home | MinnPost dashboard" } %>
<div class="gridster">
  <ul>
  
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="fb_link_stats_total_count" data-view="Metric" data-title="FB Links"></div>
    </li>
    

  </ul>
</div>

