<% content_for(:title) { "MinnPost dashboard" } %>
<div class="gridster">
  <ul>
  
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="fb_link_stats_total_count" data-view="Metric" data-title="FB Links"></div>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="google_analytics_page_views_per_visit_mn" data-view="Metric" data-title="Pageviews / Visit (MN)"></div>
    </li>

  </ul>
</div>

